.App {
  text-align: center;
  color: #333;
  margin: 0 auto;
  padding: 0 1em;
  min-height: 30em;
  width: 40em;
  position:relative;

}
.App > .todoList > li:nth-child(old){
  color:#ebbca7
}
.App > .todoList > li:nth-child(even){
  color:#1ebbca
}
.App h1{
  color: #fff;
}

.App .switchButton{
  display: flex;
  justify-content: space-between;
  width:100%;
  border-radius:5px;
  border:2px solid #ebbca7;
}
.App .switchButton button{
  font-size: 18px;
  height: 40px;
  padding: 5px;
  background: none;
  color:white;
  outline:none;
  border:none
}
.App .switchButton button:hover{
  background: #ebbca7;
}
.App .switchButton .selected{
  background: #ebbca7;
}
.App .switchButton button{
  width:33.3333%;
  border-right: 1px solid #ebbca7;
}
.App .switchButton button:last-child{
  border:none;
}
.App .todoManage{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  font-size: 18px;
}
.App .todoManage .clearCompleted:hover{
  border-bottom: 1px solid white;
}
.App .loginOut{
  /*position: absolute;
  bottom: 10px;
  left:250px;*/
  width:100%;
  height:2.2em;
  background:rgba(30,187,202,.6);
  font-size: 20px;
  padding:10px;
  border:none;
  border-radius: 5px;
  outline:none;
  color:white;
  margin-top: 1em;
}
.App .loginOut:hover{
  background:rgba(30,187,202,1);
}