.UserDialog-Wrapper{
    /*全屏*/
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;

}
.UserDialog{
    border:1px solid;
    border-radius: 4px;
    width: 26em; /*em是什么单位*/
    background: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
}
.signInOrSignUp >nav:first-child{
    padding: 1em 0;
    font-size: 20px;
    color:#1ebbca;
    margin-bottom: .5em;
    padding-left: 4em;
}
.signInOrSignUp >nav:first-child label{
    margin-left: 2em;
    cursor: pointer;
    opacity: .8;
    padding: 0 .5em;
}
.signInOrSignUp >nav:first-child input{
    display: none;
}
.signInOrSignUp >nav:first-child input:checked+label{
    border-bottom: 3px solid #f38c5e;
    opacity: 1;
}
.signInOrSignUp > .panels{
    padding: 0 2em 2em;
    font-size: 16px;
    color:#f38c5e;
}
.signInOrSignUp form>.row{
    padding: .3em 0;
    margin-bottom: .5em;
}
.signInOrSignUp form>.row>label:first-child{
    width:4em;
    cursor: pointer;
}
.signInOrSignUp form>.row input{
    padding: 0.3em 0.5em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #f38c5e;
    outline: none;
    font-size: 22px;
    color:#f38c5e;
}
.signUp>.row button{
    width:100%;
    height:2em;
    background:rgba(30,187,202,0.7);
    font-size: 20px;
    padding:8px;
    border:none;
    outline:none;
    color:white;
    margin-top: 1em;
}
.signUp>.row button:hover,
.signIn>.row button:hover,
.signIn>.actions a:hover,
.forgotPassword>.row button:hover,
.forgotPassword>.actions a:hover{
    background:rgba(30,187,202,1);
}
.signUp .row .info{
    display: inline-block;
    font-size: 12px;
    width:100%;
    color:rgba(30,187,202,0.7);
}
.signIn .actions,.forgotPassword .actions{
    display: flex;
    align-items:flex-end;
    justify-content: space-around;
}
.signIn>.actions button,.signIn>.actions a,.forgotPassword>.actions button,.forgotPassword>.actions a{
    width:45%;
    background:rgba(30,187,202,0.7);
    font-size: 20px;
    padding:8px;
    border:none;
    outline:none;
    color:white;
    vertical-align: baseline;
    margin-top: 1em;
    line-height: 1.2;
}
.signIn>.actions a,.forgotPassword>.actions a{
    text-decoration: none;
    text-align: center;
}
.forgotPassword{
    padding: 1em;
}
.forgotPassword p{
    color: #1ebbca;
    text-align: center;
    font-size: 22px;
}
.forgotPassword>.row{
    padding: .3em 0;
    margin-bottom: .5em;
}
.forgotPassword>.row>label:first-child{
    width:4em;
    cursor: pointer;
    color:#f38c5e;
}
.forgotPassword>.row input{
    padding: 0.3em 0.5em;
    width: 100%;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #f38c5e;
    outline: none;
    font-size: 22px;
    color:#f38c5e;
}
