.UserDialog-Wrapper{
    /*全屏*/
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    /*内容居中*/
}
.UserDialog{
    border:1px solid;
    border-radius: 4px;
    min-width: 20em; /*em是什么单位*/
    background: white;
    border: 1px solid #aaa;
    box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
}
.UserDialog >nav:first-child{
    padding: 1em 0;
    font-size: 20px;
    color:#f38c5e;
}
.UserDialog >nav:first-child label{
    margin-left: 2em;
    cursor: pointer;
    opacity: .8;
    padding: 0 5px;
}
.UserDialog >nav:first-child input{
    display: none;
}
.UserDialog >nav:first-child input:checked+label{
    border-bottom: 3px solid #1ebbca;
    opacity: 1;
}
.UserDialog > .panels{
    padding: 0 2em 2em;
    font-size: 16px;
    color:#f38c5e;
}
.UserDialog form>.row{
    padding: .3em 0;
    margin-bottom: .5em;
}
.UserDialog form>.row>label:first-child{
    width:4em;
    cursor: pointer;
}
.UserDialog form>.row input{
    padding: 0.3em 0.5em;
    width: 100%;
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid #f38c5e;
    outline: none;
    font-size: 22px;
    color:#f38c5e;
}
.UserDialog form>.row button{
    width:100%;
    height:2em;
    background:rgba(30,187,202,0.7);
    font-size: 20px;
    padding:8px;
    border:none;
    outline:none;
    color:white;
    margin-top: 1em;
}
.UserDialog form>.row button:hover{
    background:rgba(30,187,202,1);
}